h2 {
    margin: 0;
}


p {
    font-size: 20px;

    a {
        cursor: pointer;
        color: #748CAB;
        text-decoration: underline;
    }
}

.synonyms-containers {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;


    span {
        font-size: 16px;
        padding: 5px 10px;
        border: 1px solid #748CAB;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background: #92b7e769;
        }
    }
}